[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.doccache

.idea/
*.sln.iml

.vscode/
.vs/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.nupkg
**/packages/*
!**/packages/build/

TestResults/
*.trx

Thumbs.db
.DS_Store

appsettings.Development.json
secrets.json
.env
